<h1 id="page_title"><%= @forum.title %></h1>
<p id="notice"><%= notice %></p>
<%= link_to 'Forums', forums_path %> &gt; <%= link_to @forum.title, @forum %> <br />
<%= link_to 'Post New Message', new_forum_conversation_url(@forum) %>