<h1>Listing events</h1>

<table id="events">
<thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Location</th>
    <th>Start</th>
    <th>End</th>
  </tr></thead>
<tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.eventtype %></td>
    <td><%= event.location %></td>
    <td><%= event.startdate %></td>
    <td><%= event.enddate %></td>
  </tr>
<% end %>
</tbody>
</table>

