<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Visit Venus | <%= @title %></title> 
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  	</head>
  <body>
	<div id="wrap">
		<div id="header">
			<h1>Visit Venus | <%= @title %></h1>
			
		</div><!-- end header -->
		<div id="navbar">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/pages/contact">Contact</a></li>
				<li><a href="/pages/media">Media</a></li> 
				<li><a href="/pages/forum">Forum</a></li>
			</ul>
			<div id="user_nav">
			  <% if current_user %>
			    Logged in as <%= current_user.email %>.
			    <%= link_to "Log out", log_out_path %>
			  <% else %>
			    <%= link_to "Sign up", sign_up_path %> or
			    <%= link_to "log in", log_in_path %>
			  <% end %>
			</div>
		</div><!-- end navbar -->
		<div id="content">
			<!--DEBUGGIN PURPOSES<p><%= request.path_parameters %><br />
				<%= request.fullpath %></p>-->

			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>

			
			<%= yield %> 
			
		</div><!-- end content -->
		<% if current_page?(:controller => 'events') || current_page?(:controller => 'pages', :action => 'home') ||  request.fullpath.to_s == "/" %>
			<script type="text/javascript">
				$(document).ready(function() {
				  $("#content").width(945);
				});
			</script>
		<% else %>
			<div id="sidebar">
				<p>Sidebar</p>
			</div><!-- end sidebar -->
		<% end %>
		<div id="bottom">
			<div class="bottom-left">
			</div>
			<div class="bottom-middle">
			</div>
			<div class="bottom-right">
			</div>
		</div>
		<div id="footer">
			<p>21 Valley Lane<br />
			Venus, Florida 33960 USA<%= image_tag('smalllogo.png', :class => "smalllogo") %></p>
			
			<ul>
				<li><a href="/pages/home">Home</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/pages/contact">Contact</a></li>
				<li><a href="/pages/media">Media</a></li> 
				<li><a href="/pages/forum">Forum</a></li>
			</ul>
		</div><!-- end footer -->
	</div><!-- end wrap -->
  </body>
</html>